/* Your styles go here */
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

body{
    background-color: #122952;
}

body{
    color: white;
}

.Title1{
    text-align: center;
    padding: 150px;
}

.section1{
    background-color: #2F6A95;
    padding: 50px;
    border-radius: 8px;
}

/* ABOUT ME  */
  .history {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .line-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 100vh;
  }

  .vertical-line {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #333;
    transform: translateX(-50%);
  }

  .circle-container {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    flex-shrink: 0;
  }

  .circle {
    width: 50px;
    height: 50px;
    background-color: #226FC7;
    border: 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
  }

  .text {
    margin-left: 200px; 
  }

  /* PROJ 1-6  */

  .project-description {
    padding: 20px;
    text-align: left;
    font-size: 18px;
    line-height: 1.6;
  }

  .More-Proj {
    background-color: #2A588C;
    padding: 50px;
  }

    /* CASE STUDY  */

    .freelancer {
      padding: 50px;
      display: flex;
      justify-content: space-between; 
      align-items: center;
      width: 90%;
      max-width: 1200px;
      margin: 0 auto;
    }
    
    .box {
      width: 48%;
      background-color: #2A588C;
      border-radius: 8px;
      padding: 20px;
    }